<?xml version="1.0" encoding="UTF-8"?>
<object shortName="sc_module" displayName="Module" obName="Module">
	<description></description>
	<attribute id="id" name="Identifiant" nullable="NO" isKey="YES" autoincrement="YES" type="int" >
		<description></description>
	</attribute>
	<attribute id="name" name="Nom" nullable="NO" type="varchar(255)" >
		<description></description>
	</attribute>
	<attribute id="visual" name="Visuel" nullable="YES" type="file" >
		<description></description>
	</attribute>
	<attribute id="order" name="Ordre" nullable="NO" type="int" >
		<description></description>
	</attribute>
	<attribute id="session_id" name="Séance" nullable="NO" type="int" referencedObject="Seance" access="default" display="name" >
		<description></description>
	</attribute>
</object>
