@import url('step-detail.css');

module-detail{

}
module-detail .module-header{
    position: sticky;
    top: 0;
    height: 50px;
    background-color: var(--bs-body-bg);
    font-family: var(--font-title);
}

@media (min-width: 768px) {
    module-detail .module-header{
        font-size: 1.5em;
    }
}
module-detail .steps{
    
}