@import url('step-detail.css');

module-detail{

}
module-detail .module-header{
    position: sticky;
    top: 0;
    height: 50px;
    background-color: var(--bs-body-bg);
    font-family: var(--font-title);
}
module-detail .steps{
    
}