/* Make toast visible over modals */
.toast {
    z-index: 200000;
}

/* center the loader */
.centered-loader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ??? */
.btnMode{
    border: 1px solid black;
}

.btnMode.active{
    /*background: linear-gradient(90deg,#7068de 0%,hsl(315,62%,60%) 100%);
    */
    background-size: 200% auto;
    background-image: linear-gradient(81.02deg, #fa5560 -53.47%, #b14bf4 25.52%, #4d91ff 64.8%);
    color: white;
    transition: all .3s ease-in-out;
}
.btnMode.active:hover{
    background-position: 60% center;
}

/* Light mode of the checkbox */
html[data-bs-theme="light"] .form-check-input:checked {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.75);
}

.user-photo{
    max-width: 40px;
    max-height: 40px;
}

/* Span containing the unique id of the object in edit mode */
span#uniqueId::before{
    content: "id:";
    display: inline-block;
    padding-right: 4px;
}
span#uniqueId{
    font-size: 0.75em;
    position: absolute;
    left: var(--bs-modal-padding);
}

/* Required field */
label.required::after{
    content: "*";
    display: inline-block;
}

.loading-status.loading::after{
    content: " ";
    display: inline-block;
    font-family: 'bootstrap-icons';
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: 0.75s linear infinite spinner-border;
}
.loading-status.loaded::after{
    content: "\F633";
    font-family: 'bootstrap-icons';
    display: inline-block;
}

img.preview{
    width: 50px;
}
div.autocomplete{
    background-color: var(--body-bg-color);
    color: var(--bs-body-color);
    padding: 4px;
    border: 1px solid var(--input-border-color);
    border-radius: 2px;
    position: absolute;
    z-index: 255;
}
div.autocomplete div.autocomplete-item{
    cursor: pointer;
    margin: 2px 0;
    padding: 2px;
    border-radius: 2px;
}
div.autocomplete div.autocomplete-item:hover{
    color: var(--bs-body-hilight-color);
    background-color: var(--input-bg-color);
}

/* Make the accordion item have a large height to make it visible */
.accordion-collapse.collapse.show{
    height: 100%;
}

/* Waiting for jodit to see source */
textarea.wysiwyg-editor{
    width: 100%;
    height: 20em;
    font-family: 'Courier New', Courier, monospace;
}

.list-header{
    display: flex;
    align-items: center !important;
}
.list-header h1{
    flex: 1 1 auto !important;
}

/* Go back button */
.list-header .btn.btn-back::before{
    content: "\F284";
    font-family: "bootstrap-icons";
    display: inline-block;
    margin-right: 0.5em;
}

.list-header .btn.btn-back{
    margin-right: 1em;
}
.list-sub-header{
    margin-top: 0.5em;
    margin-bottom: 1em;
}

/* LOGIN */
app-login #toggle-password{
    position: absolute;
    top: 3px;
    right: 4px;
    z-index: 9;
    width: 28px;
    height: 30px;
    background: 0;
    border: 0;
}

app-login button#toggle-password:active,
app-login button#toggle-password:focus,
app-login button#toggle-password:hover {
  cursor: pointer;
}

app-login button#toggle-password:focus {
  outline: none !important;
}
app-login button#toggle-password.active::before,
app-login button#toggle-password.inactive::before{
    display: inline;
    font-family: "bootstrap-icons";
}
app-login button#toggle-password.active::before{
    content: "\F341";
}
app-login button#toggle-password.active::before{
    content: "\F340";
}
